* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('../../codeup-web-exercises/font/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../codeup-web-exercises/font/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../../codeup-web-exercises/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/******** VARS ********/
:root {
    --nav-aside-font-type: Montserrat, monospace;
    --nav-aside-font-size: 1em;
    --hero-font-type: RobotoMono, monospace;
    --regular-font-type: OpenSans, monospace;
    --blue: #1D2951; /* space blue */
    --green: #5EAC24;
    --white: #FFFFFF;
}

body {
    background-color: var(--blue);
    color: var(--white);
    margin: 2em 5em 1em 2em;
}

/******** NAV ********/
nav {
    margin-bottom: 3em;
    margin-left: 1em;
    font-family: var(--nav-aside-font-type);
    font-size: var(--nav-aside-font-size);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-text {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    padding: 1em;
}

.nav-text:hover {
    background-color: var(--white);
    color: var(--blue);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

nav ul li:nth-child(2) {
    margin-left: auto;
}

nav ul li:nth-child(3) {
    margin-left: auto;
}

.init-border {
    display: flex;
    color: var(--green);
    border: 3.5px solid var(--green);
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    justify-content: center;
    align-items: center;
}

.coding-logo {
    height: 3em;
    width: 3em;
}

.nav-code {
    color: var(--green);
}

.nav-code {
    margin-right: 0.5em; /* space between 00. and About */
}

.icons {
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-left: .5em;
    margin-right: 1em;
    height: 1.5em;
    width: 1.5em;
    transition: all 0.5s ease-in-out;
}

.icons:hover {
    transform: scale(1.5);
}

#tip-github {
    visibility: hidden;
    display: none;
    transition: visibility 0.1s, opacity 0.1s ease-in-out;
}

#tip-linkedin {
    visibility: hidden;
    display: none;
    transition: visibility 0.1s, opacity 0.1s ease-in-out;
}

#tip-gmail {
    visibility: hidden;
    display: none;
    transition: visibility 0.1s, opacity 0.1s ease-in-out;
}

.icons:hover #tip-github {
    visibility: visible;
}

/******** HERO ********/
.container-hero {
    display: flex;
    flex-direction: row;
}

/******** ASIDE ********/
aside {
    display: flex;
    flex-direction: column;
    min-width: 9em;
    padding-left: 1em;
    font-size: var(--nav-aside-font-size);
    font-family: var(--nav-aside-font-type);
    flex-wrap: nowrap;
}

aside > .projects {

}


aside > p {
    margin-bottom: 1em;
}

/******** MAIN ********/
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.intro-para {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.intro-para > * {
    flex: 100%;
    margin-bottom: 1em;
}

.intro-2 .intro-3 .intro-4 .intro-5 {
    color: var(--white);
}

.intro-1 {
    font-family: var(--hero-font-type);
    font-size: 1.2em;
    color: var(--green);
    margin-bottom: 1em;
}

.intro-2 {
    font-family: var(--hero-font-type);
    font-size: 2.0em;
    margin-bottom: 0;
}

.intro-3 {
    font-family: var(--hero-font-type);
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

.intro-4 {
    font-family: var(--regular-font-type);
    font-size: 1.2em;
}

.intro-5 {
    font-family: var(--regular-font-type);
    font-size: 1.2em;
}

.footer-bar {
    height: 0.25em;
    border: 0.5px solid var(--green);
    border-radius: 1em;
    width: 90%;
    margin: 5em auto;
}

@media screen and (min-width: 768px) {
    .intro-para > * {
        flex: 50%;
    }

    .intro-4 {
        padding-right: 1.5em;
    }

    .intro-5 {
        padding-left: 1.5em;
    }

}